.timeline-card {
  display: flex;
  flex-direction: row;
}

.timeline-card__start {
  display: flex;
  flex-direction: row;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 13.824px;
  /*font-size: 13px;*/
  padding-top: 37.3248px;
}

.timeline-card__start__date--bordered,
.timeline-card__start__time--bordered {
  height: 28.8px;
  width: max-content;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 106.598px;
  background-color: #ffc478;
  border: solid 0.208vw #ffc478;
}

.timeline-card__start__date--unbordered,
.timeline-card__start__time--unbordered {
  height: 28.8px;
  /* width: 89.6102px; */
  width: max-content;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 106.598px;
  /* background-color: #ffc478; */
  border: solid 3.1948px #ffc478;
}

.timeline-card__end {
  display: flex;
  flex-direction: row;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 13.824px;
  /*font-size: 13px;*/
  padding-top: 37.3248px;
}

.timeline-card__end__time--bordered,
.timeline-card__end__date--bordered {
  height: 28.8px;
  width: max-content;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 106.598px;
  background-color: #ffc478;
  border: solid 3.1948px #ffc478;
}

.timeline-card__end__time--unbordered,
.timeline-card__end__date--unbordered {
  height: 28.8px;
  width: max-content;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 106.598px;
  border: solid 3.1948px #ffc478;
}

.timeline-card__start__time-hr--hidden,
.timeline-card__end__time-hr--hidden {
  margin: 0;
  width: 90.654px;
  height: 5.2224px;
  border: none;
  background-color: transparent;
  margin-top: 15.36px;
}

.timeline-card__start__time-hr--visible,
.timeline-card__end__time-hr--visible {
  margin: 0;
  width: 90.654px;
  height: 5.2224px;
  border: none;
  background-color: #ffc478;
  margin-top: 15.36px;
}

.timeline-card__start__date-hr--hidden,
.timeline-card__end__date-hr--hidden {
  margin: 0;
  width: 53.32px;
  height: 5.2224px;
  border: none;
  background-color: transparent;
  margin-top: 15.36px;
}

.timeline-card__start__date-hr--visible,
.timeline-card__end__date-hr--visible {
  margin: 0;
  width: 53.32px;
  height: 5.2224px;
  border: none;
  background-color: #ffc478;
  margin-top: 15.36px;
}

.timeline-card__details__border--bordered {
  padding: 14.8992px 15.9744px;
  border-radius: 26.66496px;
  border: solid 3.1948px #ffc478;
  background-color: #ffc478;
  z-index: 2;
  /*animation: border 1.5s;*/
}

@keyframes border {
  0% {
    border-radius: 26.66496px;
    border: solid 3.1948px transparent;
    border: none;
    padding: 0 15.9744px;
  }
  100% {
    padding: 14.8992px 15.9744px;
    border-radius: 26.66496px;
    border: solid 3.1948px #ffc478;
    background-color: #fff5da;
  }
}

.timeline-card__details__border--unbordered {
  border-radius: 26.66496px;
  /* border: solid 0.208vw transparent; */
  padding: 14.8992px 15.9744px;
  border: solid 3.1948px #ffc478;
  /*animation: unborder 1.5s;*/
}

@keyframes unborder {
  0% {
    border: solid 3.1948px #ffc478;
    background-color: #fff5da;
    z-index: 2;
  }
  100% {
    border-radius: 26.66496px;
    border: solid 3.1948px transparent;
    background-color: transparent;
    z-index: 1;
  }
}

.timeline-card__details--unhighlighted {
  display: flex;
  flex-direction: column;
  gap: 8.448px;
  padding: 19.2px 29.7984px;
  background-color: #fff5da;
  cursor: pointer;
}

.timeline-card__details--highlighted {
  display: flex;
  flex-direction: column;
  gap: 8.448px;
  padding: 19.2px 29.7984px;
  background-color: #ffc478;
  cursor: pointer;
}
.timeline-card__details__title {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.timeline-card__details__description {
  width: 546.048px;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.timeline-card__details__prize {
  display: flex;
  flex-direction: row;
  gap: 54.3744px;
  margin-top: 17.0496px;
  font-family: Manrope, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.timeline-card__details__prize__worth {
  font-weight: normal;
}

@media screen and (max-width: 800px) {
  .timeline-card__details__title {
    font-size: 13.33px;
  }

  .timeline-card__details__description {
    font-size: 8.88px;
  }

  .timeline-card__details__prize {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .timeline-card {
    display: none;
  }
}

/*Mobile view*/

.timeline-card--mobile {
  display: flex;
  flex-direction: column;
}

.timeline-card__start__date-hr--mobile--hidden,
.timeline-card__end__date-hr--mobile--hidden {
  margin: 0;
  width: 9.44vw;
  height: 0.55vw;
  border: none;
  background-color: #ffc478;
  margin-top: 3.61vw;
}

.timeline-card__start__date-hr--mobile--visible,
.timeline-card__end__date-hr--mobile--visible {
  margin: 0;
  width: 9.44vw;
  height: 0.55vw;
  border: none;
  background-color: #ffc478;
  margin-top: 3.61vw;
}

.timeline-card__start__time-hr--mobile--hidden,
.timeline-card__end__time-hr--mobile--hidden {
  margin: 0;
  width: 5.55vw;
  height: 0.55vw;
  border: none;
  background-color: transparent;
  margin-top: 3.61vw;
}

.timeline-card__start__time-hr--mobile--visible,
.timeline-card__end__time-hr--mobile--visible {
  margin: 0;
  width: 5.55vw;
  height: 0.55vw;
  border: none;
  background-color: #ffc478;
  margin-top: 3.61vw;
}

.timeline-card__start--mobile {
  display: flex;
  flex-direction: row;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 3.33vw;
  /*font-size: 12px;*/
  padding-bottom: 3.33vw;
}

.timeline-card__start__date--mobile--bordered,
.timeline-card__start__time--mobile--bordered {
  height: 7.94vw;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.94vw;
  padding: 0 10px;
  background-color: #ffc478;
  border: solid 0.277vw #ffc478;
}

.timeline-card__start__date--mobile--unbordered,
.timeline-card__start__time--mobile--unbordered {
  height: 7.94vw;
  /* width: 19.72vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: max-content;
  border-radius: 6.94vw;
  /* background-color: #ffc478; */
  border: solid 0.277vw #ffc478;
}

.timeline-card__end--mobile {
  display: flex;
  flex-direction: row;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 3.33vw;
  /*font-size: 12px;*/
  padding-top: 3.33vw;
}

.timeline-card__end__time--mobile--bordered,
.timeline-card__end__date--mobile--bordered {
  height: 7.94vw;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.94vw;
  background-color: #ffc478;
  border: solid 0.277vw #ffc478;
  padding: 0 10px;
}

.timeline-card__end__time--mobile--unbordered,
.timeline-card__end__date--mobile--unbordered {
  height: 6.94vw;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6.94vw;
  border: solid 0.277vw #ffc478;
  padding: 0 10px;
}

.timeline-card__start__title--mobile,
.timeline-card__end__title--mobile {
  font-weight: bold;
  font-size: 3.88vw;
  height: 7.5vw;
  display: flex;
  align-items: center;
  margin-left: 8.33vw;
}

.timeline-card__details__wrapper--mobile {
  display: flex;
  flex-direction: row;
}

.timeline-card__details__hr--mobile {
  margin: 0;
  height: 0.55vw;
  width: 3.055vw;
  border: none;
  background-color: #ffc478;
  margin-top: 8.33vw;
  transform: scaleX(1.99) translateX(0.72vw);
}

.timeline-card__details__border--mobile--bordered {
  padding: 2.22vw 2.77vw;
  border-radius: 1.736vw;
  border: solid 0.277vw #ffc478;
  background-color: #ffc478;
  z-index: 2;
}

.timeline-card__details__border--mobile--unbordered {
  border-radius: 1.736vw;
  border: solid 0.277vw #ffc478;
  padding: 2.22vw 2.77vw;
}

.timeline-card__details--mobile--unhighlighted {
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
  padding: 3.61vw 4.44vw;

  cursor: pointer;
}

.timeline-card__details--mobile--highlighted {
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
  padding: 3.61vw 4.44vw;
  background-color: #ffc478;
  cursor: pointer;
}
.timeline-card__details__title--mobile {
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.timeline-card__details__description--mobile {
  width: 70.277vw;
  font-family: Manrope, sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.timeline-card__details__prize--mobile {
  display: flex;
  flex-direction: row;
  gap: 3.54vw;
  margin-top: 1.11vw;
  font-family: Manrope, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.timeline-card__details__prize__worth--mobile {
  font-weight: normal;
}

@media screen and (min-width: 601px) {
  .timeline-card--mobile {
    display: none;
  }
}
